<div class="container">
            <div class="row">
                <div class="mr-3"><a href="#">Copyright</a></div>
                <div class="mr-3"><a href="#">Home</a></div>
                <div class="mr-3"><a href="#">Contact</a></div>
                <div class="mr-3"><a href="#">Style Guide</a></div>
                <div class="mr-3"><a href="#">Site Map</a></div>
                <div class="mr-3"><a href="#">Practice</a></div>
            </div>
        </div>