<div class="container-fluid">
            <div class="row">
            <a class="navbar-brand brand-logo" href="/">Everyday A Holiday</a>
        <!-- </div> -->
        <!-- <div class="container"> -->
                <a class="navbar-brand" href="photo">Photo Gallery</a>
            <!-- </div> -->
            <!-- <div class="container"> -->
                    <a class="navbar-brand" href="game">Game</a>
                <!-- </div> -->
            </div>
        </div>
