<!DOCTYPE html>
<html lang="en">

<head>
    <% include /partials/head %>
    <link rel="stylesheet" href="css/wordfind.css">
    <title>Word Find</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <% include /partials/nav %>
  </nav>

  <main class="container" role="main">
    <body>
      <h1 id="happy-day"></h1>
      <div class="card-header form-group d-flex align-items-center">
          <div class="w-25 mx-auto text-center input-append date" data-date="01-01">
              <input id="dp3" size="16" type="text" value="01-01" />
              <span class="add-on"><i class="fas fa-calendar-alt"></i></span>
          </div>
      </div>
        <!-- Add required markup -->
        <div id="puzzle-container"></div>
        <div id="puzzle-words"></div>

        <!-- Add dependencies -->
        <!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script> -->
        <script src="js/wordfind.js"></script>
        <script src="js/wordfindgame.js"></script>
        <!-- Add our logic -->
        <script>
        var gamewords = <%-JSON.stringify(gametime)%>
            // An array with the words to show

            var theday = parseInt(localStorage.getItem('currentday'));
            var happyday = gamewords.find(x => x.id === theday).name;
            document.getElementById('happy-day').innerHTML = happyday + " Word Find";
            var words = gamewords.find(x => x.id === theday).game_words;

            // Start a basic word game without customization !
            var gamePuzzle = wordfindgame.create(words, '#puzzle-container', '#puzzle-words');

            $("#solveBTN").click(function(){
                // Solve the puzzle !
                var result = wordfindgame.solve(gamePuzzle, words);
                console.log(result);
            });

            theday = parseInt(localStorage.getItem('currentday'));

            month = pulldown.find(x => x.id === theday).month
            day = pulldown.find(x => x.id === theday).day
            
            $('#dp3').val(month + "-" + day);
            pulldata();


            $('#dp3').datepicker({
                format: "mm-dd",
                startDate: "01-01",
                endDate: "01-31",
                autoclose: true
            });

            $('#dp3').datepicker().on('changeDate', function(e) {pulldata()});

            function pulldata() {
              id = $("#dp3").val()
              // console.log(id)
              for (var i = 0; i < pulldown.length; i++) {
                  // console.log(pulldown[i].month + "-" + pulldown[i].day)
                  if (id == pulldown[i].month + "-" + pulldown[i].day) {
                      holidayTitle.innerHTML = pulldown[i].name;
                      holidayDescription.innerHTML = pulldown[i].description
                      holidayImage.src = pulldown[i].image_url
                      localStorage.setItem('currentday', pulldown[i].id)
                      $('.datepicker').hide();
                  }
              }
            }
        </script>
    </body>
  </main>

  <footer class="footer">
      <% include /partials/footer %>

  </footer>

</body>
</html>
