<!DOCTYPE html>
<html lang="en">

<head>
    <% include /partials/head %>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <% include /partials/nav %>
    </nav>

    <main class="container" role="main">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card h-100 mb-3">
                    <div class="card-header form-group d-flex align-items-center">
                        <div class="w-25 mx-auto text-center input-append date" data-date="01-01">
                            <input id="dp3" size="16" type="text" value="01-01" />
                            <span class="add-on"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">The holiday on this day is: </h5>
                        <h6 id="holidayTitle" class="card-subtitle text-muted"></h6>
                    </div>
                    <img id="holidayImage" style="height: auto; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                        alt="Card image">
                    <div class="card-body">
                        <p id="holidayDescription" class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <% include /partials/footer %>
    </footer>

</body>
<script>
    $(document).ready(function(){
    var pulldown = <%-JSON.stringify(pulldown)%>

    holidayTitle = document.getElementById('holidayTitle')
    holidayImage = document.getElementById('holidayImage')
    holidayDescription = document.getElementById('holidayDescription')

    if (localStorage.getItem('month') === null) {
      localStorage.setItem('month', '01');
    }
    if (localStorage.getItem('day') === null) {
      localStorage.setItem('day', '01');
    }

    $('#dp3').val(localStorage.getItem('month') + "-" + localStorage.getItem('day'));
    pulldata();


    $('#dp3').datepicker({
        format: "mm-dd",
        startDate: "01-01",
        endDate: "01-31",
        autoclose: true
    });

    $('#dp3').datepicker().on('changeDate', pulldata());

    //     // $("#output").html("Event type: " + e.target.nodeName);
    // });
    })

    function pulldata() {
      id = $("#dp3").val()
      // console.log(id)
      for (var i = 0; i < pulldown.length; i++) {
          // console.log(pulldown[i].month + "-" + pulldown[i].day)
          if (id == pulldown[i].month + "-" + pulldown[i].day) {
              holidayTitle.innerHTML = pulldown[i].name;
              holidayDescription.innerHTML = pulldown[i].description
              holidayImage.src = pulldown[i].image_url
              localStorage.setItem('month', pulldown[i].month);
              localStorage.setItem('day', pulldown[i].day);
              $('.datepicker').hide();
          }
      }
    }
</script>

</html>
